<h2>Login</h2>
<fieldset>
	<legend>Enter Your Login Details</legend>
	<% semantic_form_for :user_session do |f| %>
		<%= f.input :login, :input_html => { :value => "login ID", :class => 'hintremoval' } %>
		<br />
		<%= f.input :password, :hint => "Please use your AD password" %>
		<br />
		<div class="form_row">
		  <label for="remember_me">Remember Me?</label>
		  <%= f.check_box :remember_me %>
		</div>
		<br />
		<% f.buttons do %>
			<%= f.commit_button "Login" %>
		<% end %>
	<% end %>
</fieldset>

<p>  
  Forgot your screen name or password? 
  <%= link_to "Remind Me!", :controller => "users", :action => "new" %>
</p>

<p>  
  Not registered yet?  <%= link_to "Register now!", register_path %>
</p>